.cache/
.astro/
node_modules/
tools/protocol-docs-generator/dist/
tools/protocol-docs-generator/src/data/
tools/protocol-docs-generator/src/pages/guides/
tools/protocol-docs-generator/src/pages/changelog/legacy/entries/
tools/protocol-docs-generator/src/assets/
